@model IEnumerable<CthulhuCampaignManager.Models.CampaignViewModel>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="AddNew">Add new campaign</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var campaign in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => campaign.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => campaign.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => campaign.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => campaign.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = campaign.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = campaign.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = campaign.Id })
                </td>
            </tr>
        }
    </tbody>
</table>